

		/*Anatomía de las reglas CSS:

			selector: {
				propiedad: valor;
				propiedad: valor;
				propiedad: valor;
			}
		*/
		img {
			width: 320px;
			margin: auto;
			display: block;
		}

		a {
			text-decoration: none;
			color: #ffffff;
			background-color: rgb (66, 67, 69);
			padding-right: 5px; 
			padding-left: 5px; 
		}

		a {
			text-decoration: none;
		}

		a:hover {
			background-color: #000;
			color: rgb (66, 67, 69);
		}

		.personaje {
			color: #ffffff !important;
			background-color: rgb(66, 67, 69);
			padding: 0 5px;
		}

		#iron-man {
			color: gold;
			background-color: darkred;
	;